%section#current
  %h2 Projects
  %p.big Worked on a team of 3 developers in Ruby on Rails and PHP to add new features and maintain the following sites.
  .current-projects
    .project
      = image_tag 'AdoptaSchool.jpg'
      = link_to 'Indigo Adopt a School', 'https://adoptaschool.indigo.ca/'
    .project
      = image_tag 'Aeroplan.jpg'
      = link_to 'Aeroplan Beyond Miles', 'https://beyondmiles.aeroplan.com/'
    .project
      = image_tag 'TDtreedays.jpg'
      = link_to 'TD Tree Days', 'https://www.tdtreedays.com/en-ca/'