%section#current
  %h2 Current Projects
  %p Working on a team of 3 developers in Ruby on Rails and PHP to add new features, make responsive, and maintain the following sites.
  .current-projects
    .project
      = image_tag 'introduction.png'
      = link_to 'Indigo Adopt a School', 'https://adoptaschool.indigo.ca/'
    .project
      = image_tag 'introduction.png'
      = link_to 'Aeroplan Beyond Miles', 'https://beyondmiles.aeroplan.com/'
    .project
      = image_tag 'introduction.png'
      = link_to 'TD Tree Days', 'https://www.tdtreedays.com/en-ca/'