%section#home
  .social_bar
    %nav
      %ul.navigation
        %li
          %a{href: '#home'} Home

        %li
          %a{href: '#projects'} Projects

        %li
          %a{href: '#about'} About

        %li
          %a{href: '#contact'} Contact

    .icons
      .icon
        %a{href: 'https://github.com/marianserna'}
          %i.fa.fa-github-alt
      .icon
        %a{href: 'https://www.linkedin.com/in/marian-serna-1762337b'}
          %i.fa.fa-linkedin

  .intro
    %img.name{src: image_url('name.png')}

    %ul#scene
      %li.layer{data: {depth: 0.0}, style: "background-image: url('#{image_url('sky.png')}')"}
      %li.layer{data: {depth: 0.2}, style: "background-image: url('#{image_url('mountain4.png')}')"}
      %li.layer{data: {depth: 0.3}, style: "background-image: url('#{image_url('mountain3.png')}')"}
      %li.layer{data: {depth: 0.4}, style: "background-image: url('#{image_url('mountain2.png')}')"}
      %li.layer{data: {depth: 0.5}, style: "background-image: url('#{image_url('mountain1.png')}')"}

  .scrolling_nav
    .scrolling_nav_wrapper.single
      .page_number 01
      .vertical_line.top
      .scroll_links
        %a.next{href: '#projects'} NEXT
      .vertical_line.bottom
