%section#portfolio
  %h2 Projects

  - @portfolio_items.each do |item|
    %section.panel{style: "background-image: url('#{item.background_image.url}')"}
      .inner
        %h3= item.title
        = image_tag item.background_image.url
        .description
          %p= item.category_name
          %p= item.description
          -if item.item_url.present?
            %p
              %a{href: item.item_url}= item.item_url
          - if item.vimeo_url.present?
            .js-video.vimeo
              %iframe{src: "https://player.vimeo.com/video/#{item.vimeo_id}", frameborder: "0", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true}
