%section#skills
  %h2 Skills

  %a#resume-link{href: '#', data: {featherlight: '#resume-image'}} See Full Resume

  .hidden
    #resume-image
      %img{src: 'resume.jpg'}

  %ul
    %li
      .img-container
        = image_tag 'rails.png'
      %p Ruby on Rails
    %li
      .img-container
        = image_tag 'ruby.png'
      %p Ruby
    %li
      .img-container
        = image_tag 'javascript.png'
      %p Javascript
    %li
      .img-container
        = image_tag 'css3.png'
      %p CSS3
    %li
      .img-container
        = image_tag 'github.png'
      %p GitHub
    %li
      .img-container
        = image_tag 'haml.png'
      %p HAML
    %li
      .img-container
        = image_tag 'html5.png'
      %p HTML5
    %li
      .img-container
        = image_tag 'jquery.png'
      %p jQuery
    %li
      .img-container
        = image_tag 'php.png'
      %p PHP
    %li
      .img-container
        = image_tag 'postgres.png'
      %p Postgres
    %li
      .img-container
        = image_tag 'sublime.png'
      %p Sublime
    %li
      .img-container
        = image_tag 'cinema4d.png'
      %p Cinema4d
    %li
      .img-container
        = image_tag 'adobe-after-effects.png'
      %p After Effects
    %li
      .img-container
        = image_tag 'adobe-audition.png'
      %p Audition
    %li
      .img-container
        = image_tag 'adobe-edge-animate.png'
      %p Edge Animate
    %li
      .img-container
        = image_tag 'adobe-illustrator.png'
      %p Illustrator
    %li
      .img-container
        = image_tag 'adobe-lightroom.png'
      %p Lightroom
    %li
      .img-container
        = image_tag 'adobe-muse.png'
      %p Muse
    %li
      .img-container
        = image_tag 'adobe-photoshop.jpeg'
      %p Photoshop
    %li
      .img-container
        = image_tag 'adobe-premiere.png'
      %p Premiere
