= render partial: 'nav'

%section#home
  %h1 Marian Serna
  %ul
    %li Web Development
    %li Design
    %li Animation
    %li Video Editing
    %li Illustration
    %li Photography

  = image_tag 'introduction.png', class: 'intro'

%section#about
  %h2 About
  %video{controls: true}
    %source{src: 'videos/about_me.mp4', type: 'video/mp4'}
    %source{src: 'videos/about_me.ogg', type: 'video/ogg'}
    %source{src: 'videos/about_me.webm', type: 'video/webm'}

= render partial: 'current'
= render partial: 'skills'
= render partial: 'portfolio'

#after
  = render partial: 'photographs'
  = render partial: 'contact'
  = render partial: 'blog'

%script{src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB4lbsGaKozxa4rWOODxBeF_rp9OpDaK2M&callback=initMap', async: true, defer: true}
