= simple_form_for(@portfolio_item, url: [:admin, @portfolio_item]) do |f|
  = f.input :position
  = f.input :title
  = f.input :case_study
  = f.input :category
  ~ f.input :project, input_html: {class: 'codemirror'}
  = f.input :approach
  = f.input :takeout
  = f.input :technologies
  = f.input :item_url
  = f.input :vimeo_url

  - if @portfolio_item.background_image.present?
    = image_tag @portfolio_item.background_image.url(:thumb)

  = f.input :background_image, as: :file
  = f.input :details_position_class, as: :string
  = f.input :color, as: :string
  = f.input :background_color, as: :string

  .form-group
    = f.submit class: "btn btn-primary"
    = link_to "Cancel", admin_portfolio_items_url, class: "btn btn-secondary"
