= simple_form_for(@portfolio_item, url: [:admin, @portfolio_item]) do |f|
  = f.input :title
  = f.input :category, as: :select, collection: PortfolioItem.categories_for_select, include_blank: false
  = f.input :description
  = f.input :item_url
  = f.input :vimeo_url

  - if @portfolio_item.background_image.present?
    = image_tag @portfolio_item.background_image.url(:thumb)

  = f.input :background_image, as: :file

  .form-group
    = f.submit class: "btn btn-primary"
    = link_to "Cancel", admin_portfolio_items_url, class: "btn btn-secondary"
