!!! 5
%html
  %head
    %title Portfolio
    = csrf_meta_tags
    = action_cable_meta_tag

    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'admin', 'data-turbolinks-track' => 'reload'

  %body
    #admin-container
      .admin-nav
        %ul
          %li= link_to "Home", root_url
          %li= link_to "Portfolio Items", admin_portfolio_items_url
          %li= link_to "Blogs", admin_blogs_url
      .admin-main
        .container-fluid
          = yield
