!!! 5
%html
  %head
    %title Marian Serna | Portfolio
    = csrf_meta_tags
    = action_cable_meta_tag
    %meta{name: 'viewport', content: 'initial-scale=1.0'}
    %meta{charset: 'utf-8'}

    /[if lt IE 9]
      = javascript_include_tag 'html5shiv.min'

    -# %link{href:'https://fonts.googleapis.com/css?family=Fjalla+One|Playfair+Display|Poppins:300', rel: 'stylesheet'}
    %link{href:'https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat:200', rel: 'stylesheet'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'

  %body
    %nav.menu
      %ul
        %li
          %a{href: '/'} Home
        %li
          %a{href: '/'} Work
        %li
          %a{href: '/'} About
        %li
          %a{href: '/'} Posts
        %li
          %a{href: '/contact'} Contact

    = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
